<link rel="stylesheet" type="text/css" href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Delete posts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <input type="text" ng-model="search" class="form-control" name="" placeholder="Filter by text (Excludes date)">
            </div>
            <div class="col-lg-3">
                <div class="input-group input-daterange">
                    <input type="text" class="form-control datepicker" ng-model="dateFrom">
                    <div class="input-group-addon">to</div>
                    <input type="text" class="form-control datepicker" ng-model="dateTo">
                </div>
            </div>
            <div class="col-lg-2 col-lg-offset-4">
                <button type="button" ng-click="deletePosts()" ng-show="!busy" class="btn btn-danger">Delete Selected</button>
            </div>
        </div>
        <div class="col-lg-12" infinite-scroll='loadPosts()' infinite-scroll-disabled='busy || nomore' infinite-scroll-distance='1'>
            <div ng-repeat="post in posts | filter:search | filter:{ created_time: dateFrom }:gtDate | filter:{ created_time: dateTo }:ltDate | groupCtxDate:'created_time'">
                <h2 class="col-lg-12" ng-show="post.created_time_CHANGED">{{getYMDate(post.created_time)}}</h2>
                <div  ng-class="(post.delete) ? 'elem-delete' : ''" class="col-lg-4 elem">
                    <div ng-click="gotoPost($event, post.user.screen_name, post.id_str)" class="elem-td col-lg-10">
                        {{(post.description)?post.description:post.message}}
                    </div>
                <div class="del-div col-lg-1"><input type="checkbox" ng-model="post.delete"></div>
                <div class="col-lg-12 elem-date">
                    <span class="pull-right">{{parseDate(post.created_time) | date : 'dd MMM yyyy'}}</span>
                </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" ng-show="busy">
            <h2>LOADING...</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy'
        });
    })
</script>