<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header col-lg-12">
        <div class="col-lg-8">
            <a class="navbar-brand" href="index.html">Social Network Bulk Curator</a>
        </div>
        <div class="col-lg-4">
            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="twitter"><i class="fa fa-facebook"></i> Twitter</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="facebook"><i class="fa fa-facebook"></i> Facebook</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
